h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
}
body {
  margin: auto;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(222, 74, 206, 1) 60%,
    rgba(70, 220, 252, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.grid-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 1em;
}
.columns-container {
  break-inside: avoid-column;
}

#frogtorotate {
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  transform: rotate(12deg);
  align-content: center;
  border-radius: 25px;
  box-shadow: 10px 10px 8px #484848;
}
p {
  font-size: 21px;
  line-height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 100;
  font-family: 'Century Gothic'
}
blockquote {
  padding: 10px;
  width: 150px;
  background: #CCCCFF;
  border-radius: 5px;
  float: right;
  font-weight: lighter;
  margin-right: 10px;
  margin-left: 10px;
}
blockquote p{
    font-style: italic;
}
.columns-container img {
  width: 150px;
  padding: 10px;
  margin-right: 10px;
  float: left;
}
.gallery-container img {
  max-width: 200px;
  border-radius: 25px;

}
.columns-container img {
    border-radius: 25px;
}
footer {
    padding-top:50px;
    text-align: center;
    font-size:50px;
}
@media screen and (max-device-width: 800px) {
  .grid-wrap {
      grid-template-columns: repeat(1,auto);
      grid-template-rows: repeat(auto-fill,auto);

  }
  .gallery-cointainer {
      grid-row: 5;
  }
}
