doctype html
html
    head
        title= 'FormData'
    body
        h1 Form Data

    p Your name is #{name}
    br
    p Your surname is #{surname}
    br
    p Your phone number is #{phone}
    br

